REACT_APP_CLIENT_ID="your Spotify app client ID"
REACT_APP_CLIENT_SECRET="your Spotify app client secret"
REACT_APP_TEST_CLIENT_ID="your Spotify test app client ID"
REACT_APP_TEST_CLIENT_SECRET="your Spotify test app client secret"
REACT_APP_NETLIFY="false" #set to true to run with Netlify functions