.TrackListContainer {
  width: 100%;
  padding: 0 8px;
  overflow-y: scroll;
  visibility: hidden;
  display: none;
  flex: auto;
}

.TrackListContainer[isopen="true"] {
  visibility: visible;
  display: flex;
}

.TrackListScrollContainer {
  width: 100%;
  display: flex;
  flex: auto;
  justify-content: flex-start;
}

.TrackList {
  padding: 1rem 0 5rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.TrackList > li {
  margin-bottom: 0.75rem;
  flex: none;
}
