.TrackListContainer {
  width: 100%;
  padding: 0 8px;
  overflow-y: scroll;
  visibility: hidden;
  display: none;
  flex: auto;
}

.TrackListContainer[isopen="true"] {
  visibility: visible;
  display: flex;
}

.TrackListScrollContainer {
  width: 100%;
  display: flex;
  flex: auto;
  justify-content: flex-start;
}

.TrackList {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
}

.TrackList > li {
  margin-bottom: 0.75rem;
  flex: none;
}

.TrackList > li:first-child {
  padding-top: 1rem;
}

.TrackList > li:last-child {
  padding-bottom: 5rem;
}

@media all and (min-width: 768px) {
  .TrackListContainer {
    margin-bottom: 2rem;
  }
}
