body,
html,
#root {
  height: 100%;
}

html,
body,
input,
::placeholder,
* {
  font-family: futura-pt, sans-serif;
}

html {
  font-size: 16px;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: var(--bold);
}

h2 {
  font-size: 1.125rem;
  font-weight: var(--bold);
}

h3 {
  font-weight: var(--bold);
  font-size: 1rem;
}

p {
  font-weight: 400;
  font-size: 0.875rem;
}

.subtitle {
  font-size: 1.5rem;
}

.label {
  font-weight: var(--bold);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
}

button {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

button:active,
button:focus {
  outline: none;
}

.TapItem {
  width: 44px;
  height: 44px;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.iconContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Containers */
.AppContainer {
  transition: background 0.15s ease-in;
}

.App {
  /* display: flex;
  justify-content: center; */
  height: 100vh;
  overflow: hidden;
  transition: background 0.15s ease-in;
}

.Container {
  width: 100%;
  height: 100vh;
  /* mobile viewport bug fix */
  height: -webkit-fill-available;
  max-width: 1280px;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
}

.TrackSelect {
  grid-area: 2 / 1 / span 1 / span 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.ActionIcon {
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.ActionText {
  display: none;
}

.overlay {
  backdrop-filter: blur(32px);
}

/* Media queries for larger screens */
/* Most mobile devices and up */
@media all and (min-width: 360px) {
  h2 {
    font-size: 1.25rem;
  }

  p {
    font-size: 1rem;
  }
}

/* Tablets and up */
@media all and (min-width: 415px) {
  .Container {
    padding: 20px 20px;
  }

  .ActionIcon {
    display: none;
  }

  .ActionText {
    display: block;
  }
}

/* Large tablets and up */
@media all and (min-width: 768px) {
  .Container {
    grid-template-columns: 314px minmax(414px, 1fr);
    grid-gap: 8px 0;
    transition: grid-template-columns 0.15s ease-in-out;
  }

  .Container.collapsed {
    grid-template-columns: 0px minmax(414px, 1fr);
  }

  .TrackSelect {
    grid-area: 2 / 2 / span 1 / span 1;
  }
}

@media all and (min-width: 1024px) {
  .Container {
    grid-template-columns: 414px minmax(414px, 1fr);
  }
}

@media all and (min-height: 812px) {
  .TrackSelect {
    justify-content: flex-start;
  }

  .TrackSelect > *:first-child {
    margin-bottom: 60px;
  }
}

/* Playlist Saved Screen */
.SuccessScreen {
  background: #111111;
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  opacity: 0;
  --duration: 1.6s;
  animation: fade-in-out var(--duration) ease-in-out;
}

.SuccessScreen::after {
  background: url(../TrackAction/PlaylistSaved.svg) no-repeat;
  background-size: auto;
  background-position: 50% 50%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  animation: spin-up-down var(--duration) ease-in-out,
    fade-in-out var(--duration) ease-in-out;
}

.SuccessScreen::before {
  background: url(../TrackAction/vinyl_record.png) no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  content: "";
  width: 625px;
  position: absolute;
  top: 0;
  left: calc(50vw - 312.5px);
  bottom: 0;
  opacity: 0;
  overflow: visible;
  animation: scale-up-down var(--duration) ease-in-out,
    fade-in-out var(--duration) ease-in-out;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes spin-up-down {
  0% {
    transform: rotate(0deg) scale(0.1);
  }
  25% {
    transform: rotate(720deg) scale(1);
  }
  85% {
    transform: rotate(720deg) scale(1);
  }
  100% {
    transform: rotate(0deg) scale(0.1);
  }
}

@keyframes scale-up-down {
  0% {
    transform: scale(0.01);
  }
  25% {
    transform: scale(0.8);
  }
  85% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.01);
  }
}
