.NavBar {
  grid-area: 1 / 1;
  z-index: 3;
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  --size: 32px;
}

.NavBar > * {
  flex: none;
}

/* @media all and (min-width: 415px) {
  .NavBar {
    --size: 32px;
  }
} */

@media all and (min-width: 768px) {
  .NavBar {
    grid-area: 1 / 1 / span 1 / span 2;
    padding: 0;
  }
}
