.NavBar {
  grid-area: nav;
  z-index: 2;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  justify-self: center;
  width: 100%;
  max-width: 479px;
  align-items: center;
}

.NavBar > * {
  flex: none;
}

@media all and (min-width: 768px) {
  .NavBar {
    grid-area: 1 / 2;
  }
}
