.ActionBar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
  pointer-events: none;
}

.ActionBar > * {
  flex: none;
  pointer-events: all;
}

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media all and (min-width: 415px) {
  .ActionBar {
    justify-content: space-between;
    height: 128px;
    flex-flow: column nowrap;
    padding: 0 16px 24px 16px;
    width: 415px;
  }

  .btnContainer {
    width: 100%;
  }
}
