.SliderContainer {
  position: relative;
}

.Slider {
  background-color: var(--icon);
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.SliderFill {
  background-color: var(--brand-primary);
}

.ThumbControl {
  width: 44px;
  height: 44px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -10px;
}

.Thumb {
  width: 24px;
  height: 24px;
  background-color: #fff;
  border: 1px solid var(--icon);
  border-radius: 16px;
}
